#carrousel ul {
    display: flex;
    overflow: auto;
    padding-bottom: 15px;
}

#carrousel ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrousel img {
    width: 150px;
    height: 100px;
}