* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

body > * {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h3 {
    font-size: 24px;
    text-align: center;
}