#skills > ul > li {
    padding-bottom: 10px;
}

#skills > ul > li > span {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 24px;
    background-color: gainsboro;
    border-radius: 5px;
    display: flex;
    font-size: 13px;
}

.progress-bar > div {
    border-radius: inherit;
    height: inherit;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar.dogs > div {
    width: 87%;
}

.progress-bar.cats > div {
    width: 24%;
}

.progress-bar.massachusetts > div {
    border-radius: inherit;
}

.progress-bar.massachusetts > div.green {
    width: 63%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.progress-bar.massachusetts > div.red {
    width: 37%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.progress-bar.home > div.pink {
    width: 75%;
}

.progress-bar > div.blue {
    background-color: #4e4e7a;
}

.progress-bar > div.orange {
    background-color: #bf966f;
}

.progress-bar > div.green {
    background-color: #3b543b;
}

.progress-bar > div.red {
    background-color: #db6565;
}

.progress-bar > div.pink {
    background-color: #d18cd1;
}